{% extends 'base/base_nav.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
    <h4 class="text-center py-3">{% trans 'Edit your store' %}</h4>
    <form method="post">{% csrf_token %}
        {% include 'forms/store.html' %}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mx-1">{% trans 'Edit' %}</button>
            <a name="" id="" class="btn btn-danger mx-1" href="/me/store/" role="button">{% trans 'Cancel' %}</a>
        </div>
    </form>
</div>
{% endblock %}