{% extends 'base/base_nav.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row m-5 p-2 bg-light rounded shadow-lg">
        <div class="text-uppercase text-center mt-5 fs-6 fw-bold">{% trans 'Check your inbox' %}</div>
        <div class="text-uppercase text-center mb-5 fs-6 text-muted">{% trans 'Reset password URL was sent to your email' %}</div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <img src="{% static 'img/login/send-mail.png' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
{% endblock %}