{% load i18n %}
{% block content %}
<div class="container mb-5">
    <div class="mb-3">
        <label for="{{form.name.id_for_label}}" class="form-label fw-bold text-uppercase">{{form.name.label}}</label>
        <input type="text" name="{{form.name.html_name}}" id="{{form.name.html_name}}" class="form-control" value="{{form.name.value|default:''}}">
        <div class="form-text">
            {{form.name.errors}}
        </div>
        {% if form.name.help_text %}
            <div class="form-text">
                {{form.name.help_text}}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{form.description.id_for_label}}" class="form-label fw-bold text-uppercase">{{form.description.label}}</label>
        <textarea name="{{form.description.html_name}}" id="{{form.description.html_description}}" class="form-control">{{form.description.value|default:''}}</textarea>
        <div class="form-text">
            {{form.description.errors}}
        </div>
        {% if form.description.help_text %}
            <div class="form-text">
                {{form.description.help_text}}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{form.phone.id_for_label}}" class="form-label fw-bold text-uppercase">{{form.phone.label}}</label>
        <input type="text" name="{{form.phone.html_name}}" id="{{form.phone.html_description}}" class="form-control" value="{{form.phone.value|default:''}}">
        <div class="form-text">
            {{form.phone.errors}}
        </div>
        {% if form.phone.help_text %}
            <div class="form-text">
                {{form.phone.help_text}}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{form.address.id_for_label}}" class="form-label fw-bold text-uppercase">{{form.address.label}}</label>
        <input name="{{form.address.html_name}}" id="{{form.address.html_address}}" class="form-control" value="{{form.address.value|default:''}}">
        <div class="form-text">
            {{form.address.errors}}
        </div>
        {% if form.address.help_text %}
            <div class="form-text">
                {{form.address.help_text}}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}