{% extends 'base/base_nav.html' %}
{% load i18n %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% csrf_token %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/ef/38/e2/2daf181b328924c310104e16c0e2598e.png.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/77/6a/e0/d4f72ea566a9d0e086a9739c92afe218.png.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/35/7b/82/1f615a832be076a16ce976e08c67c046.png.webp" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="my-5 pt-3 border-top">
        {% if not user.is_authenticated %}
            {% trans 'Popularity recomendation' as title1 %}
        {% else %}
            {% trans 'Recommend products pearson' as title1 %}
        {% endif %}
        {% include 'components/products_set.html' with id="trend" title=title1 des=des1 products_set=recommended_products %}
    </div>



    {% comment %} <div class="my-5 pt-3 border-top">
        {% trans 'Most viewers' as title1 %}
        {% include 'components/products_set.html' with id="view" title=title1 des=des1 products_set=most_viewed_products %}
    </div> {% endcomment %}
    
    {% comment %} <div class="my-5 pt-3 border-top">
        {% trans 'Best seller' as title1 %}
        {% trans 'Top products of this week' as des1 %}
        {% include 'components/products_set.html' with id="sell" title=title1 des=des1 products_set=recommended_products %}    
    </div>     {% endcomment %}
    
</div>
{% include 'components/quick_modal.html' %}
<script type="module" src="{% static 'js/product-card.js' %}"></script>
{% include 'scripts.html' %}
{% endblock %}