{% extends 'base/base_nav.html' %}
{% load i18n %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% csrf_token %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/58/29/7b/6bb950fece2e1927d56afffdd489b736.jpg.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/95/8d/48/be47dea6f43d2c2cc29217484750b7b9.png.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/b9/e7/d9/89bf1655eeab7614e82d28a29af93ee1.png.webp" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="my-5 pt-3 border-top">
        {% trans 'Most-viewed items' as title1 %}
        {% include 'components/products_set.html' with id="view" title=title1 des=des1 products_set=most_viewed_products %}
    </div>
    
    <div class="my-5 pt-3 border-top">
        {% trans 'Trending products' as title1 %}
        {% include 'components/products_set.html' with id="trend" title=title1 des=des1 products_set=trending_products %}
    </div>
    
    {% comment %} <div class="my-5 pt-3 border-top">
        {% trans 'Best seller' as title1 %}
        {% trans 'Top products of this week' as des1 %}
        {% include 'components/products_set.html' with id="sell" title=title1 des=des1 products_set=recommended_products %}    
    </div>     {% endcomment %}
</div>
{% include 'components/quick_modal.html' %}
<script type="module" src="{% static 'js/product-card.js' %}"></script>
{% endblock %}