{% load i18n %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-decoration-none" href="/">
            <i class="fa-solid fa-store"></i>
            Store
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-decoration-none text-uppercase {% if title == _('Home') %}active text-orange{% endif %}" href="/">
                        {% trans 'Home' %}
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link text-decoration-none text-uppercase" href="#">
                        {% trans 'Categories' %}
                    </a>
                    <div class="dropdown-menu p-2" style="min-width: 50rem;">
                        <div class="row">
                        {% for cat in categories %}
                        <div class="col-md-4">
                            <a class="dropdown-item" href="{% url 'products' %}?category={{cat.id}}">
                                {% trans cat.name %}
                            </a>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none text-uppercase {% if title == _('Products') %}active text-orange{% endif %}" href="{% url 'products' %}">
                        {% trans 'Products' %}
                    </a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                </ul>
                {% if user.is_authenticated %}
                <div class="row d-flex justify-content-end">
                    <a name="" id="" class="btn mt-1 col-auto" href="/chat/" role="button">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                    </a>
                    <a name="" id="" class="btn position-relative mt-1 col-auto" href="/me/cart/" role="button">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger border border-light" id="cart-size">
                            {{cart_size|default:'0'}}
                        </span>
                    </a>
                    <a name="" id="" class="btn position-relative mt-1 col-auto" href="/me/notification/" role="button">
                        <i class="fa-solid fa-bell"></i>
                        {% if noti %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger border border-light" id="noti-size">
                            {{noti_size|default:'0'}}
                        </span>
                        {% endif %}
                    </a>
                    <div class="col-auto mt-1" style="position: relative;">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{user.profile.avatar.url}}" class="border me-1" width="30" height="30" alt="">
                            {{user.username}}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="z-index: 2000;">
                            <li><a class="dropdown-item" href="/me/store/">
                                {% trans 'My store' %}
                            </a></li>
                            <li><a class="dropdown-item" href="/account/">
                                {% trans 'Account' %}
                            </a></li>
                            <li><a class="dropdown-item" href="/history/">
                                {% trans 'Order history' %}
                            </a></li>
                            <li><a class="dropdown-item" href="/favorite/">
                                {% trans 'Liked products' %}
                            </a></li>
                            <li><a class="dropdown-item" href="/account/change-password/">
                                {% trans 'Change password' %}
                            </a></li>
                            <li><a class="dropdown-item" href="/logout/">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                {% trans 'Logout' %}
                            </a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                    <a name="" id="" class="btn btn-primary text-dark" href="/login/" role="button" style="background-color: #ffd166; border: none; margin-right: 1%">{% trans 'Login' %}</a>
                {% endif %}

                <div class="col-auto" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans 'Settings' %}">
                    <div class="dropdown">
                        <i class="fas fa-cog" data-bs-toggle="dropdown" aria-hidden="true"></i>
                        <div class="dropdown-menu dropdown-menu-end p-3" style="min-width: 20rem;">
                            <div class="row mb-2">
                                {% include 'components/change_language_form.html' %}
                            </div>
                            <div class="row mb-2">
                                {% include 'components/change_timezone_form.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<script type="module" src="{% static 'js/navbar.js' %}"></script>