{% load i18n %}
{% load humanize %}
<div class="row mb-2">
    <form method="get">
        <input class="form-control" name="search" type="search" placeholder="{% trans 'Start typing to search for orders' %}" value="{{request.GET.search|default:''}}">
    </form>
</div>
<div class="row mb-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans 'Number' %}</th>
                <th scope="col">{% trans 'Date' %}</th>
                <th scope="col">{% trans 'Customer' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th scope="col">{% trans 'Items' %}</th>
                <th scope="col">{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for order in object_list %}
            <tr>
                <th scope="row" class="py-3"><a href="{% url 'order_history_detail' pk=order.id %}" class="text-decoration-none">{{order.id}}</a></th>
                <td class="py-3">{{order.created_at|date:"d/m/Y"}}</td>
                <td class="py-3">{{order.user.username}}</td>
                <td class="py-3"><span class="badge {% if order.status == 'Pending' %}bg-warning{% elif order.status == 'Accepted' %}bg-success{% else %}bg-danger{% endif %}">{{order.status}}</span></td>
                <td class="py-3">{{order.orderdetail_set.count}} {% trans 'item(s)' %}</td>
                <td class="py-3">${{order.cost|intcomma}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>