{% load i18n %}
{% load humanize %}
<div class="card border-light product-item" item-url="{{item.get_absolute_url}}" role="button">
    <div class="product-thumbnail position-relative">
        <img src="{{item.thumbnail}}" class="card-img-top product-thumbnail" alt="" style="object-fit:contain">
        <div class="position-absolute top-0 start-0">
            {% if item.sell_price < item.price %}
                {% if item.sale.sale_type == 'F' %}
                <span class="badge bg-danger">{% trans 'Sale' %} ${{item.sale.value}}</span>
                {% else %}
                <span class="badge bg-danger">{% trans 'Sale' %} {{item.sale.value}}%</span>
                {% endif %}
            {% endif %}
        </div>
        <div class="quick-actions position-absolute top-0 end-0">
            <div class="row me-1 my-1">
                <div class="d-flex justify-content-center align-items-center bg-warning rounded-circle action-container view-product-btn" product-id="{{item.id}}">
                    <i class="fa fa-eye" aria-hidden="true"></i>    
                </div>
            </div>
            <div class="row me-1 my-1">
                <div class="d-flex justify-content-center align-items-center bg-warning rounded-circle action-container like-product-btn" data-fav="{{item.favorited}}" product-id={{item.id}}>
                    {% if item.favorited %}
                    <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-start">
            <div class="col-auto">
                <div class="container m-0 p-0">
                {% with ''|center:5 as range %}
                {% for _ in range %}
                    {% if forloop.counter <= item.rating %}
                    <i class="fa-solid fa-star fa-2xs text-warning"></i>
                    {% else %}
                    <i class="fa fa-star-o fa-2xs" aria-hidden="true"></i>
                    {% endif %}
                {% endfor %}
                {% endwith %}
                </div>
            </div>
        </div>
        <div class="text-truncate text-primary product-name">
            <a class="col-auto fw-bold text-decoration-none" href="{{item.get_absolute_url}}">
                <a class="col-auto fw-bold text-decoration-none" href="{{item.get_absolute_url}}">
                    {{item.name}}
                </a>
            </a>
        </div>
        <p class="card-text d-flex justify-content-between">
            <span class="price-hover fw-bold" item-value="{{item.sell_price}}">
                {% if item.sale.valid and item.sale.price < item.price %}
                <span class="text-decoration-line-through text-danger">${{item.price|intcomma}}</span>
                <span class="text-primary fw-bold" id="new-price">${{item.sale.price|intcomma}}</span>
                {% else %}
                    <span class="text-dark">${{item.price|intcomma}}</span>
                {% endif %}
            </span>
        </p>
        <div class="row justify-content-center mt-3 add-btn">
            <div class="col-auto">
                <div class="btn-group" role="button">
                    <div class="jusify-content-center align-items-center bg-warning rounded-3">
                        <button type="button" class="btn btn-warning col-auto add-to-cart-btn fw-bold text-truncate" product-id="{{item.id}}">
                            <i class="fa-solid fa-cart-shopping bg-warning col-auto"></i> {% trans 'Add to Cart' %}
                        </button>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
