{% extends 'base/base_nav.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/cart_page.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none text-orange" href="/">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'My Shopping Cart' %}</li>
        </ol>
    </nav>
</div>
<div class="row pb-5">
    {% if orders|length == 0 %}
        <div class="d-flex justify-content-center">
            <img src="{% static 'img/cart/empty-cart.png' %}" class="img-fluid">
        </div>
        <span class="text-center text-muted">{% trans 'You have no items in your shopping cart' %}.</span>
        <div class="d-flex justify-content-center mt-5">
            <a name="" id="" class="btn btn-orange" href="{% url 'index' %}" role="button">
                <span class="text-uppercase fw-bold px-2">{% trans 'Continue shopping' %}</span>
            </a>
        </div>
    {% else %}
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-auto">
            <div class="m-1">
                <div class="row my-2 text-center text-uppercase fw-bold fs-2">
                    <span>{% trans 'Shopping cart' %}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="m-1">
            {% for order in orders %}
            <div class="container">
                <div class="row my-3">
                    <span class="text-muted text-center">
                        {{order.order.store.name}}
                    </span>
                </div>
                {% for item in order.order_details %}
                <div item-id="{{item.id}}" class="row border-top py-4 justify-content-center">
                    <div class="col-md-2 row align-items-center">
                        <img src="{{item.product.thumbnail}}" class="product-thumbnail">
                    </div>
                    <div class="col-md-5 text-wrap row align-items-center">
                        <a href="{{item.product.get_absolute_url}}" style="text-decoration: none; color: black">{{item.product.name}}</a>
                    </div>
                    <div class="col-md-1 text-start fw-bold row align-items-center">${{item.product.sell_price|intcomma}}</div>
                    <div class="col-md-2 text-center row align-items-center">
                        <span role="button" class="item-quantity">{{item.quantity}}</span>
                        <div class="row item-quantity-edit" hidden>
                            <div class="input-group">
                                <input type="number" min="1" class="form-control text-center item-quantity-edit-value" value="{{item.quantity}}">
                                <button class="btn btn-outline-primary item-quantity-edit-confirm" detail-id="{{item.id}}" type="button">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-end fw-bold price-hover row align-items-center" item-value="{{item.cost}}">${{item.cost|intcomma}}</div>
                    <div class="col-md-1 row align-items-center">
                        <div class="row d-flex justify-content-center">
                            <div class="col-auto">
                                <button type="button" class="btn remove-item-btn" detail-id="{{item.id}}">
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row justify-content-end">
                    <div class="col-md-4 row border p-3 rounded">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex align-items-end">
                                <span class="text-uppercase fw-bold text-center">{% trans 'Subtotal' %}</span>
                            </div>
                            <div class="col-auto d-flex align-items-end">
                                <span class="col-auto fw-bold fs-6">${{order.order.cal_cost|intcomma}}</span>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-between">
                            <div class="col-auto d-flex align-items-end">
                                <span class="text-uppercase fw-bold text-center">{% trans 'Grand total' %}</span>
                            </div>
                            <div class="col-auto d-flex align-items-end">
                                <span class="col-auto fw-bold fs-3 text-primary">${{order.order.cal_cost|intcomma}}</span>
                            </div>
                        </div>
                        <div class="row m-0 d-flex justify-content-center">
                            <button type="button" class="btn btn-primary fw-bold text-uppercase purchase-btn" cart-id="{{order.order.id}}">
                                {% trans 'Proceed to checkout' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}    
        </div>
    </div>
    {% endif %}
</div>
<script type="module" src="{% static 'js/cart.js' %}"></script>
{% endblock %}